*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.board {
  background-color: #c1c1c1;
  height: 600px;
  width: 600px;
  margin: 30px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  border-radius: 10px;
}

.card {
  height:100px;
  width: 100px;
  border: 2px solid gray;
  margin:20px;
  border-radius:10px;
    img {
    height: 100%;
    width:100%;
    border-radius:10px;
  }

}